openapi: 3.1.0
info:
  title: Conference Website API
  version: 1.0.0
  summary: Surface HTTP du site conference-website (bot, admin, public, cron).
  description: |
    Spec OpenAPI 3.1 de toute l'API HTTP servie par `pages/api/*`.

    **Sources de vérité (par ordre de précédence) :**
    1. Les handlers eux-mêmes sous `pages/api/`.
    2. Le contrat humain `docs/BOT_API_CONTRACT.md` (pour `/api/bot/v1/*`).
    3. Cette spec — régénérer à chaque changement de surface.

    **Quatre familles d'endpoints :**
    - `tag:bot` — `/api/bot/v1/*` consommés par le Discord bot. Auth par
      `x-api-key` (per-tenant) + `x-tenant-id` (legacy env fallback).
    - `tag:admin` — `/api/admin/*` gated par session staff Supabase (cookies).
    - `tag:cron` — `/api/cron/*` invoqués par Netlify scheduled functions.
    - `tag:public` — tout le reste, accessible sans auth ou auth utilisateur.
  contact:
    name: conference-website
    url: https://github.com/
  license:
    name: Proprietary
servers:
  - url: https://www.lacotedazurelympique.fr
    description: Production
  - url: http://localhost:3000
    description: Local dev
tags:
  - name: bot/matches
    description: Endpoints bot pour la gestion des matchs (planif, score, dispute).
  - name: bot/teams
    description: Endpoints bot pour la gestion des équipes (membres, captain).
  - name: bot/tournaments
    description: Endpoints bot pour la gestion des tournois et phases.
  - name: bot/scrims
    description: Endpoints bot pour les scrims.
  - name: bot/players
    description: Endpoints bot scoped par Discord user id.
  - name: bot/cast
    description: Endpoints bot pour les assignments de casters.
  - name: bot/events
    description: Outbox d'events bot (pending / ack / handled).
  - name: bot/tenants
    description: Résolution tenant ↔ guild Discord (cross-tenant).
  - name: bot/autocomplete
    description: Endpoints d'autocomplete des slash-commands Discord.
  - name: bot/misc
    description: Autres endpoints bot (twitch, reminders, role-sync, locks, etc.).
  - name: admin/matches
  - name: admin/teams
  - name: admin/tournaments
  - name: admin/stages
  - name: admin/scrims
  - name: admin/events
    description: Run-of-show admin (cues, segments, presence).
  - name: admin/broadcast
  - name: admin/tenants
  - name: admin/users
  - name: admin/content
    description: News, announcements, partners, cast members, etc.
  - name: admin/misc
  - name: cron
  - name: public/teams
  - name: public/tournaments
  - name: public/scrims
  - name: public/news
  - name: public/auth
  - name: public/caster
    description: Endpoints joueurs/casters (auth Bearer).
  - name: public/onboard
  - name: public/misc
components:
  securitySchemes:
    BotApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Bot API key, per-tenant uniquement : le sha256 du header est comparé à
        `tenant_secrets.bot_api_key_hash` et détermine le tenant. Le fallback
        env legacy `BOT_API_KEY` a été retiré pour `/api/bot/v1/*` ; une clé
        inconnue renvoie 401.
    BotTenantId:
      type: apiKey
      in: header
      name: x-tenant-id
      description: |
        UUID du tenant. Informationnel uniquement : la clé per-tenant est
        autoritaire, le header n'est plus requis ni validé (ignoré, et la clé
        gagne en cas de conflit).
    StaffSession:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: |
        Session Supabase staff. Le helper `withStaffRoute(handler, minRole)`
        applique le check de rôle (`owner` > `admin` > `manager` > `caster`).
    PlayerBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Bearer token Supabase user (joueur, capitaine). Géré par
        `withAuthRoute`. CSRF-immune par construction (header non
        auto-attaché par le navigateur cross-origin).
    CronSecret:
      type: apiKey
      in: header
      name: x-cron-secret
      description: |
        Token partagé entre Netlify scheduled functions et l'API. Vérifié
        par `requireCronAuth()`. Routes idempotentes côté serveur.
  parameters:
    XApiKey:
      $ref: "#/components/parameters/__hoist_BotApiKey"
    __hoist_BotApiKey:
      name: x-api-key
      in: header
      required: true
      schema:
        type: string
      description: Bot API key (per-tenant ou env legacy).
    XTenantId:
      name: x-tenant-id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: UUID du tenant — requis avec l'env legacy uniquement.
    IdempotencyKey:
      name: idempotency-key
      in: header
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 128
      description: |
        Clé d'idempotence client. Pour un même couple (route, clé), la
        réponse est rejouée 24h. Voir `BOT_API_CONTRACT.md` §Idempotency.
    TournamentId:
      name: tournamentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TeamId:
      name: teamId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    MatchId:
      name: matchId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    StageId:
      name: stageId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ScrimId:
      name: scrimId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunId:
      name: runId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SegId:
      name: segId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DiscordUserId:
      name: discordUserId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9]{17,20}$
  responses:
    BadRequest:
      description: Requête invalide (validation zod, JSON mal formé, etc.).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Auth manquante ou invalide (clé, session ou bearer).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authentifié mais rôle/permissions insuffisants.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Ressource introuvable (UUID inconnu, route inexistante).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: État incompatible (idempotency mismatch, lock détenu).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate-limit dépassé (par-actor ou par-route).
      headers:
        Retry-After:
          schema:
            type: integer
          description: Secondes avant retry.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServerError:
      description: Erreur serveur non récupérable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Message lisible côté client.
        code:
          type: string
          description: Code machine (ex. `MISSING_TENANT_ID`, `UNKNOWN_TENANT`).
        details:
          type: object
          additionalProperties: true
      example:
        error: Invalid or missing API key.
        code: MISSING_TENANT_ID
    Ok:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
          enum:
            - true
    Uuid:
      type: string
      format: uuid
    Timestamp:
      type: string
      format: date-time
    PlayerPushSubscription:
      type: object
      required:
        - id
        - endpoint
        - created
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        endpoint:
          type: string
          format: uri
        created:
          type: boolean
          description: "true si la subscription vient d'être créée (201), false si mise à jour (200)."
    TwitchTokenResponse:
      type: object
      required:
        - access_token
        - refresh_token
        - expires_in
        - token_type
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        scope:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        token_type:
          type: string
    DiscordId:
      type: string
      pattern: ^[0-9]{17,20}$
      description: Snowflake Discord (user, guild, channel, role).
    Tenant:
      type: object
      required:
        - id
        - slug
        - name
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        slug:
          type: string
        name:
          type: string
        createdAt:
          $ref: "#/components/schemas/Timestamp"
    Team:
      type: object
      required:
        - id
        - name
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
        slug:
          type: string
        logoUrl:
          type: string
          nullable: true
        captainUserId:
          $ref: "#/components/schemas/Uuid"
        discordRoleId:
          allOf:
            - $ref: "#/components/schemas/DiscordId"
          nullable: true
        discordChannelId:
          allOf:
            - $ref: "#/components/schemas/DiscordId"
          nullable: true
        joinable:
          type: boolean
        tenantId:
          $ref: "#/components/schemas/Uuid"
    TeamMember:
      type: object
      required:
        - userId
        - role
      properties:
        userId:
          $ref: "#/components/schemas/Uuid"
        displayName:
          type: string
        battleTag:
          type: string
          nullable: true
        discordUserId:
          allOf:
            - $ref: "#/components/schemas/DiscordId"
          nullable: true
        role:
          type: string
          enum:
            - captain
            - member
            - substitute
            - coach
        joinedAt:
          $ref: "#/components/schemas/Timestamp"
    Match:
      type: object
      required:
        - id
        - status
        - team1Id
        - team2Id
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        tournamentId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        scrimId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        stageId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        team1Id:
          $ref: "#/components/schemas/Uuid"
        team2Id:
          $ref: "#/components/schemas/Uuid"
        team1Score:
          type: integer
          nullable: true
        team2Score:
          type: integer
          nullable: true
        winnerTeamId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        status:
          type: string
          enum:
            - pending
            - scheduled
            - ongoing
            - finished
            - disputed
            - forfeit
            - cancelled
        scheduledAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        lobbyInfo:
          type: object
          nullable: true
          properties:
            host:
              type: string
            password:
              type: string
        streamUrl:
          type: string
          nullable: true
        discordThreadId:
          allOf:
            - $ref: "#/components/schemas/DiscordId"
          nullable: true
    Tournament:
      type: object
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum:
            - draft
            - published
            - ongoing
            - finished
            - archived
        startsAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        endsAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        prizePoolEur:
          type: integer
          nullable: true
    Stage:
      type: object
      required:
        - id
        - tournamentId
        - name
        - kind
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        tournamentId:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
        kind:
          type: string
          enum:
            - group
            - swiss
            - single_elim
            - double_elim
            - round_robin
        order:
          type: integer
    Scrim:
      type: object
      required:
        - id
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - open
            - scheduled
            - in_progress
            - finished
            - cancelled
        scheduledAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        teamAId:
          $ref: "#/components/schemas/Uuid"
        teamBId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
    CastAssignment:
      type: object
      required:
        - id
        - matchId
        - casterUserId
        - role
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        matchId:
          $ref: "#/components/schemas/Uuid"
        casterUserId:
          $ref: "#/components/schemas/Uuid"
        casterDisplayName:
          type: string
        role:
          type: string
          enum:
            - play_by_play
            - color
            - observer
            - director
        confirmedAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    PendingEvent:
      type: object
      required:
        - id
        - eventId
        - eventName
        - payload
        - tenantId
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        eventId:
          $ref: "#/components/schemas/Uuid"
        eventName:
          type: string
          example: match.starting
        tenantId:
          $ref: "#/components/schemas/Uuid"
        payload:
          type: object
          additionalProperties: true
        createdAt:
          $ref: "#/components/schemas/Timestamp"
    EventRun:
      type: object
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        slug:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - draft
            - scheduled
            - live
            - done
        startedAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        endedAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    EventSegment:
      type: object
      required:
        - id
        - runId
        - ord
        - type
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        runId:
          $ref: "#/components/schemas/Uuid"
        ord:
          type: integer
        type:
          type: string
          enum:
            - match
            - intermission
            - intro
            - outro
            - interview
            - segment
        title:
          type: string
        durationMin:
          type: integer
        matchId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        status:
          type: string
          enum:
            - upcoming
            - live
            - done
            - skipped
    AutocompleteResult:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            type: object
            required:
              - value
              - label
            properties:
              value:
                type: string
              label:
                type: string
    BotEventOutboxRow:
      type: object
      required:
        - id
        - eventId
        - eventName
        - tenantId
        - payload
      properties:
        id:
          type: integer
        eventId:
          $ref: "#/components/schemas/Uuid"
        eventName:
          type: string
        tenantId:
          $ref: "#/components/schemas/Uuid"
        payload:
          type: object
          additionalProperties: true
        pushAttempts:
          type: integer
        lastPushError:
          type: string
          nullable: true
        lastPushAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        createdAt:
          $ref: "#/components/schemas/Timestamp"
    BracketView:
      type: object
      required:
        - tournamentId
        - stages
      properties:
        tournamentId:
          $ref: "#/components/schemas/Uuid"
        tournamentName:
          type: string
        stages:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: "#/components/schemas/Uuid"
              name:
                type: string
              slug:
                type: string
                nullable: true
              stageType:
                type: string
              orderIndex:
                type: integer
              matches:
                type: array
                items:
                  type: object
                  additionalProperties: true
              standings:
                type: array
                items:
                  type: object
                  additionalProperties: true
    Invitation:
      type: object
      required:
        - id
        - status
        - type
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        userId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        teamId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        type:
          type: string
          enum:
            - invite
            - join_request
        status:
          type: string
          enum:
            - pending
            - approved
            - rejected
            - cancelled
        comment:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        payload:
          type: object
          additionalProperties: true
          nullable: true
        createdAt:
          $ref: "#/components/schemas/Timestamp"
        processedAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    LeaderboardEntry:
      type: object
      required:
        - teamId
        - teamName
        - wins
        - losses
      properties:
        rank:
          type: integer
        teamId:
          $ref: "#/components/schemas/Uuid"
        teamName:
          type: string
        wins:
          type: integer
        draws:
          type: integer
        losses:
          type: integer
        points:
          type: number
    Lock:
      type: object
      properties:
        acquired:
          type: boolean
        released:
          type: boolean
        currentHolder:
          type: string
          nullable: true
        expiresAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    PlayerAction:
      type: object
      required:
        - action
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        actorAuthUserId:
          $ref: "#/components/schemas/Uuid"
        actorDiscordUserId:
          $ref: "#/components/schemas/DiscordId"
        action:
          type: string
        entityType:
          type: string
          nullable: true
        entityId:
          type: string
          nullable: true
        targetAuthUserId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        payload:
          type: object
          additionalProperties: true
          nullable: true
        createdAt:
          $ref: "#/components/schemas/Timestamp"
    Reminder:
      type: object
      required:
        - kind
        - id
      properties:
        kind:
          type: string
          enum:
            - match_checkin
            - tournament_j1
            - cast_briefing
        id:
          type: string
        discordUserId:
          $ref: "#/components/schemas/DiscordId"
        discordUsername:
          type: string
          nullable: true
        matchId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        tournamentId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        assignmentId:
          allOf:
            - $ref: "#/components/schemas/Uuid"
          nullable: true
        scheduledAt:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        payload:
          type: object
          additionalProperties: true
    TenantConfigEntry:
      type: object
      required:
        - tenant
        - guildId
      properties:
        guildId:
          $ref: "#/components/schemas/DiscordId"
        isPrimary:
          type: boolean
        tenant:
          $ref: "#/components/schemas/Tenant"
        config:
          type: object
          additionalProperties: true
          description: |
            Tenant Discord config (channel ids, role ids, forum tag ids, etc.).
            Voir `tenant_discord_config` pour la liste exhaustive.
    VetoState:
      type: object
      required:
        - matchId
        - format
        - flow
        - steps
      properties:
        matchId:
          $ref: "#/components/schemas/Uuid"
        format:
          type: string
        team1Id:
          $ref: "#/components/schemas/Uuid"
        team2Id:
          $ref: "#/components/schemas/Uuid"
        team1Name:
          type: string
          nullable: true
        team2Name:
          type: string
          nullable: true
        flow:
          type: array
          items:
            type: object
            additionalProperties: true
        steps:
          type: array
          items:
            type: object
            additionalProperties: true
        currentStepIndex:
          type: integer
        isComplete:
          type: boolean
        pickedMaps:
          type: array
          items:
            type: object
            additionalProperties: true
    AdminMatchDetail:
      type: object
      description: Admin view of a match (includes dispute fields, bracket links, audit).
      additionalProperties: true
      properties:
        id:
          type: string
          format: uuid
        tournament_id:
          type: string
          format: uuid
          nullable: true
        stage_id:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum:
            - pending
            - ongoing
            - finished
            - cancelled
            - postponed
            - walkover
            - disputed
        is_bye:
          type: boolean
          nullable: true
        match_format:
          type: string
          nullable: true
        round_name:
          type: string
          nullable: true
        round_number:
          type: integer
          nullable: true
        bracket_side:
          type: string
          enum:
            - wb
            - lb
            - final
            - none
          nullable: true
        group_key:
          type: string
          nullable: true
        team1_id:
          type: string
          format: uuid
          nullable: true
        team2_id:
          type: string
          format: uuid
          nullable: true
        team1_score:
          type: integer
          nullable: true
        team2_score:
          type: integer
          nullable: true
        winner_team_id:
          type: string
          format: uuid
          nullable: true
        forfeit_team_id:
          type: string
          format: uuid
          nullable: true
        scheduled_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        stream_url:
          type: string
          nullable: true
        replay_url:
          type: string
          nullable: true
        lobby_code:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        next_match_win_id:
          type: string
          format: uuid
          nullable: true
        next_match_win_slot:
          type: integer
          enum:
            - 1
            - 2
          nullable: true
        next_match_lose_id:
          type: string
          format: uuid
          nullable: true
        next_match_lose_slot:
          type: integer
          enum:
            - 1
            - 2
          nullable: true
        dispute_reason:
          type: string
          nullable: true
        dispute_opened_by:
          type: string
          format: uuid
          nullable: true
        dispute_opened_at:
          type: string
          format: date-time
          nullable: true
        dispute_resolution:
          type: string
          nullable: true
        dispute_resolved_by:
          type: string
          format: uuid
          nullable: true
        dispute_resolved_at:
          type: string
          format: date-time
          nullable: true
        veto_locked_at:
          type: string
          format: date-time
          nullable: true
        team1:
          type: object
          additionalProperties: true
        team2:
          type: object
          additionalProperties: true
        stage:
          type: object
          additionalProperties: true
        tournament:
          type: object
          additionalProperties: true
        games:
          type: array
          items:
            type: object
            additionalProperties: true
    AdminMatchPatchInput:
      type: object
      description: |
        Discriminated by `mode`. Score mode applies via applyMatchScore (with
        optional bracket propagation). Meta mode whitelists planning, lobby and
        bracket linkage fields. `expected_updated_at` enables optimistic locking.
      properties:
        mode:
          type: string
          enum:
            - score
            - meta
        expected_updated_at:
          type: string
          format: date-time
        team1Score:
          type: integer
          minimum: 0
        team2Score:
          type: integer
          minimum: 0
        winnerTeamId:
          type: string
          format: uuid
        forfeit_team_id:
          type: string
          format: uuid
        propagate:
          type: boolean
          default: true
        status:
          type: string
          enum:
            - pending
            - ongoing
            - finished
            - cancelled
            - postponed
            - walkover
        tournament_id:
          type: string
          format: uuid
          nullable: true
        stage_id:
          type: string
          format: uuid
          nullable: true
        is_bye:
          type: boolean
        match_format:
          type: string
        round_name:
          type: string
          nullable: true
        round_number:
          type: integer
          nullable: true
        bracket_side:
          type: string
          enum:
            - wb
            - lb
            - final
            - none
          nullable: true
        group_key:
          type: string
          nullable: true
        team1_id:
          type: string
          format: uuid
          nullable: true
        team2_id:
          type: string
          format: uuid
          nullable: true
        scheduled_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        stream_url:
          type: string
          nullable: true
        replay_url:
          type: string
          nullable: true
        lobby_code:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        next_match_win_id:
          type: string
          format: uuid
          nullable: true
        next_match_win_slot:
          type: integer
          enum:
            - 1
            - 2
          nullable: true
        next_match_lose_id:
          type: string
          format: uuid
          nullable: true
        next_match_lose_slot:
          type: integer
          enum:
            - 1
            - 2
          nullable: true
    AdminTournamentDashboard:
      type: object
      description: |
        Mega-dashboard payload assembled by fetchDashboardData. Shape is
        intentionally permissive — see utils/dashboard/buildTournamentDashboard.ts
        for the canonical type.
      additionalProperties: true
      properties:
        kpis:
          type: object
          additionalProperties: true
        signals:
          type: array
          items:
            type: object
            additionalProperties: true
        guards:
          type: object
          additionalProperties: true
        velocity:
          type: object
          additionalProperties: true
        recentActivity:
          type: array
          items:
            type: object
            additionalProperties: true
    BroadcastState:
      type: object
      description: Aggregate live broadcast state of the single live event_run.
      properties:
        run:
          allOf:
            - $ref: "#/components/schemas/EventRun"
          nullable: true
        currentSegment:
          allOf:
            - $ref: "#/components/schemas/EventSegment"
          nullable: true
        match:
          type: object
          nullable: true
          additionalProperties: true
          properties:
            matchId:
              type: string
              format: uuid
            team1:
              type: object
              additionalProperties: true
            team2:
              type: object
              additionalProperties: true
        casters:
          type: array
          items:
            $ref: "#/components/schemas/CastAssignment"
        state:
          type: object
          properties:
            on_air:
              type: boolean
            lower_third:
              type: string
              nullable: true
            pip:
              type: object
              properties:
                enabled:
                  type: boolean
    CreateEventSegmentInput:
      type: object
      required:
        - type
        - title
      properties:
        type:
          type: string
          enum:
            - match
            - break
            - intro
            - outro
            - custom
        title:
          type: string
          minLength: 1
          maxLength: 200
        ord:
          type: integer
          minimum: 0
        match_id:
          type: string
          format: uuid
          nullable: true
        duration_min:
          type: integer
          minimum: 1
          nullable: true
        planned_start_at:
          type: string
          format: date-time
          nullable: true
        broadcast_message:
          type: object
          nullable: true
          additionalProperties: false
          properties:
            discord:
              type: string
              maxLength: 2000
            push_title:
              type: string
              maxLength: 200
            push_body:
              type: string
              maxLength: 500
            email_subject:
              type: string
              maxLength: 200
        caster_checklist:
          type: array
          items:
            type: object
            required:
              - key
              - label
            properties:
              key:
                type: string
                minLength: 1
                maxLength: 80
              label:
                type: string
                minLength: 1
                maxLength: 200
              checked_by_user_id:
                type: string
                format: uuid
                nullable: true
              checked_at:
                type: string
                format: date-time
                nullable: true
    CheckinNudgePayload:
      type: object
      required:
        - teamSide
      properties:
        teamSide:
          oneOf:
            - type: integer
              enum:
                - 1
                - 2
            - type: string
              enum:
                - both
          description: Side(s) of the match to ping (1, 2, or 'both').
    ImportCsvResult:
      type: object
      description: Common shape returned by /admin/teams/bulk, import-csv and import-platform.
      properties:
        created:
          type: integer
        skipped:
          type: integer
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              row:
                type: integer
              message:
                type: string
        teams:
          type: array
          items:
            $ref: "#/components/schemas/Team"
    RecycleBinEntry:
      type: object
      required:
        - id
        - type
        - name
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - stage
            - team
            - match
            - announcement
            - partner
            - cast_member
            - adherent
            - staff
            - scrim
        name:
          type: string
        details:
          type: string
          nullable: true
        deleted_at:
          type: string
          format: date-time
          nullable: true
        tournament_id:
          type: string
          format: uuid
          nullable: true
    BroadcastWaveResult:
      type: object
      description: |
        Per-campaign result of one wave processed by `processCampaignWave`.
        The success-path shape is whatever `processCampaignWave` returns
        (typically counts of sent/queued/skipped); the failure shape carries
        `campaignId` + `error`.
      properties:
        campaignId:
          type: string
          format: uuid
          description: Campaign whose wave failed (only present on error).
        error:
          type: string
          description: Error message captured during the wave (only on error).
      additionalProperties: true
    CronBroadcastResult:
      type: object
      required:
        - success
        - processed
        - results
      properties:
        success:
          type: boolean
          enum:
            - true
        processed:
          type: integer
          minimum: 0
          description: Number of `broadcast_schedules` rows examined this tick.
        results:
          type: array
          description: One entry per scheduled campaign (success or error).
          items:
            $ref: "#/components/schemas/BroadcastWaveResult"
    CronCheckinResult:
      type: object
      required:
        - success
        - scanned
        - acted
        - errors
      description: |
        Summary returned by `processCheckinForUpcomingMatches`. Cross-tenant
        tick — `scanned` counts every upcoming match across tenants, `acted`
        counts the ones that triggered an action (email/Discord/forfeit),
        `errors` counts handler-level failures (route still returns 200).
      properties:
        success:
          type: boolean
          enum:
            - true
        scanned:
          type: integer
          minimum: 0
        acted:
          type: integer
          minimum: 0
        errors:
          type: integer
          minimum: 0
      additionalProperties: true
    CronDisputeSlaResult:
      type: object
      required:
        - tenants_scanned
        - breaches_found
        - events_emitted
        - duration_ms
      properties:
        tenants_scanned:
          type: integer
          minimum: 0
          description: Number of active tenants scanned this tick.
        breaches_found:
          type: integer
          minimum: 0
          description: Total disputes past SLA across all tenants.
        events_emitted:
          type: integer
          minimum: 0
          description: |
            `dispute.sla_breached` events successfully written to
            `bot_event_outbox`. Matches whose emit failed are NOT stamped, so
            they are retried next tick.
        duration_ms:
          type: integer
          minimum: 0
          description: Wall-clock duration of the tick.
    CronOutboxMaintenanceLatency:
      type: object
      required:
        - sampleSize
        - sampleCap
      description: |
        Delivery-latency percentiles computed over `created_at → delivered_at`
        for rows delivered in the last 24h. `null` when no sample.
      properties:
        sampleSize:
          type: integer
          minimum: 0
          description: Number of rows actually sampled (≤ `sampleCap`).
        sampleCap:
          type: integer
          description: Hard cap on the sample (10 000).
        p50:
          type: number
          nullable: true
          description: Median in ms.
        p95:
          type: number
          nullable: true
        p99:
          type: number
          nullable: true
        max:
          type: number
          nullable: true
    CronOutboxMaintenanceStats:
      type: object
      required:
        - pendingCount
        - delivered24h
        - failed24h
        - latencyMs
      properties:
        pendingCount:
          type: integer
          minimum: 0
          description: Rows currently `status='pending'`.
        oldestPendingAgeSec:
          type: integer
          nullable: true
          description: Age of the oldest pending row in seconds (null if none).
        delivered24h:
          type: integer
          minimum: 0
          description: Rows delivered in the last 24h.
        failed24h:
          type: integer
          minimum: 0
          description: Rows that hit `status='failed'` (`last_push_at`) last 24h.
        latencyMs:
          $ref: "#/components/schemas/CronOutboxMaintenanceLatency"
    CronOutboxMaintenanceResult:
      type: object
      required:
        - success
        - config
        - markedFailed
        - deleted
        - stats
      properties:
        success:
          type: boolean
          enum:
            - true
        config:
          type: object
          required:
            - failedAfterHours
            - deleteAfterDays
          properties:
            failedAfterHours:
              type: number
              description: |
                Threshold for poison-pill (`OUTBOX_FAILED_AFTER_HOURS`).
                Default 6.
            deleteAfterDays:
              type: number
              description: |
                Retention for delivered/failed rows
                (`OUTBOX_DELETE_AFTER_DAYS`). Default 7.
        markedFailed:
          type: integer
          minimum: 0
          description: Pending rows promoted to `failed` this tick.
        deleted:
          type: integer
          minimum: 0
          description: Delivered/failed rows older than cutoff deleted this tick.
        stats:
          $ref: "#/components/schemas/CronOutboxMaintenanceStats"
    CronOverrunCheckResult:
      type: object
      required:
        - success
        - runs_examined
        - segments_examined
        - escalated
        - deduped
        - errors
        - truncated_by_time_budget
        - duration_ms
      properties:
        success:
          type: boolean
          enum:
            - true
        runs_examined:
          type: integer
          minimum: 0
          description: Number of `event_runs` with `status='live'` scanned.
        segments_examined:
          type: integer
          minimum: 0
          description: Live segments inspected for overrun.
        escalated:
          type: integer
          minimum: 0
          description: New `event_cues` rows inserted this tick.
        deduped:
          type: integer
          minimum: 0
          description: |
            Inserts that hit `23505` on `uq_event_cues_dedup_key` — a cue with
            the same `auto-overrun:{runId}:{segId}` already exists.
        errors:
          type: integer
          minimum: 0
          description: Cue insert errors not classified as dedup.
        truncated_by_time_budget:
          type: boolean
          description: |
            `true` when the 20s soft time budget was exceeded and the loop
            broke early. Remaining work picked up next tick.
        duration_ms:
          type: integer
          minimum: 0
    CronWebPushDispatchResult:
      type: object
      required:
        - success
        - processed
        - sent
        - skipped_already_delivered
        - skipped_max_attempts
        - skipped_prefs
        - expired_removed
        - failed
        - events_examined
        - duration_ms
        - truncated_by_time_budget
      properties:
        success:
          type: boolean
          enum:
            - true
        events_examined:
          type: integer
          minimum: 0
          description: |
            Outbox events loaded as candidates (filtered by event_name and
            `WEB_PUSH_WINDOW_HOURS`, capped by `WEB_PUSH_BATCH_LIMIT`).
        processed:
          type: integer
          minimum: 0
          description: Events for which at least one delivery was attempted.
        sent:
          type: integer
          minimum: 0
          description: Successful `webpush.sendNotification` calls.
        skipped_already_delivered:
          type: integer
          minimum: 0
          description: |
            (event, subscription) pairs with existing
            `status='delivered'` or `'expired'`.
        skipped_max_attempts:
          type: integer
          minimum: 0
          description: |
            Pairs whose previous attempts reached `MAX_ATTEMPTS_BEFORE_GIVING_UP`
            (5). No further retries.
        skipped_prefs:
          type: integer
          minimum: 0
          description: |
            Recipients excluded because of opt-out rows in
            `notification_prefs`.
        expired_removed:
          type: integer
          minimum: 0
          description: |
            Subscriptions that returned 410/404 and were deleted from
            `push_subscriptions` (CASCADE drops `web_push_deliveries`).
        failed:
          type: integer
          minimum: 0
          description: |
            Transient/5xx errors. Row stays `failed`, `attempts` incremented,
            retried next tick until threshold.
        duration_ms:
          type: integer
          minimum: 0
        truncated_by_time_budget:
          type: boolean
          description: |
            `true` when the 8s soft time budget was exceeded. The rest of the
            batch is picked up on the next 1-minute tick.
    CronWebPushInFlightSkip:
      type: object
      description: |
        Returned when a previous tick is still running inside the same
        Netlify worker. Cross-instance contention is handled by the
        `UNIQUE(outbox_event_id, subscription_id)` constraint on
        `web_push_deliveries`.
      required:
        - success
        - skipped
      properties:
        success:
          type: boolean
          enum:
            - true
        skipped:
          type: string
          enum:
            - in_flight
    CronSyncGameHeroesResult:
      type: object
      description: |
        Summary returned by `syncAllGameHeroes()`. `success=false` indicates
        at least one upstream sync failed (HTTP status will be 207 in that
        case so the heartbeat write still happens).
      required:
        - success
        - startedAt
        - finishedAt
        - durationMs
        - games
      properties:
        success:
          type: boolean
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        durationMs:
          type: integer
          minimum: 0
        games:
          type: array
          items:
            type: object
            required:
              - game
              - ok
              - fetched
              - upserted
            properties:
              game:
                type: string
                enum:
                  - lol
                  - dota2
              ok:
                type: boolean
              fetched:
                type: integer
                minimum: 0
                description: Number of rows received from the upstream API.
              upserted:
                type: integer
                minimum: 0
                description: Number of rows written to `game_heroes`.
              error:
                type: string
                description: Only present when `ok=false`.
    GameHero:
      type: object
      description: |
        A champion (LoL) or hero (Dota 2) row from `public.game_heroes`,
        exposed in camelCase. `attribute` is Dota-only
        (`strength|agility|intelligence|universal`), `title` is LoL-only.
      required:
        - id
        - game
        - externalId
        - key
        - name
        - roles
        - imageUrl
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        game:
          type: string
          enum:
            - lol
            - dota2
        externalId:
          type: string
          description: Riot champion key (numeric) for LoL, OpenDota hero id for Dota 2.
        key:
          type: string
          description: Technical slug ("Aatrox", "antimage").
        name:
          type: string
        title:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
        attribute:
          type: string
          nullable: true
          enum:
            - strength
            - agility
            - intelligence
            - universal
            - null
        imageUrl:
          type: string
          format: uri
          description: Splash art URL on the upstream CDN.
        iconUrl:
          type: string
          format: uri
          nullable: true
    GameHeroesResponse:
      type: object
      required:
        - game
        - total
        - heroes
      properties:
        game:
          type: string
          enum:
            - lol
            - dota2
        total:
          type: integer
          minimum: 0
        heroes:
          type: array
          items:
            $ref: "#/components/schemas/GameHero"
    DraftEngineError:
      type: object
      description: |
        Structured error returned by the draft engine endpoints (Lots 2-3).
        `code` is the machine-readable reason; `error` is a human-readable
        message. Additional context fields (`expected`, `got`, `format`,
        `allowed`, `draftId`…) may be present depending on the code.
      required:
        - error
        - code
      properties:
        error:
          type: string
        code:
          type: string
          enum:
            - MATCH_NOT_FOUND
            - TOURNAMENT_NOT_FOUND
            - GAME_NOT_DRAFTABLE
            - FORMAT_NOT_SUPPORTED
            - GAME_INDEX_OUT_OF_RANGE
            - DRAFT_ALREADY_EXISTS
            - DRAFT_NOT_FOUND
            - SIDES_INVALID
            - SIDES_REQUIRED
            - DRAFT_NOT_IN_PROGRESS
            - DRAFT_NOT_PENDING
            - STEP_OUT_OF_ORDER
            - HERO_NOT_FOUND
            - HERO_WRONG_GAME
            - HERO_ALREADY_BANNED
            - HERO_ALREADY_PICKED
            - HERO_FEARLESS_BLOCKED
            - PICK_TIMER_INVALID
            - NO_ELIGIBLE_HERO
            - DEADLINE_NOT_REACHED
            - STEP_ALREADY_COMMITTED
            - DB_ERROR
      additionalProperties: true
    InitMatchDraftRequest:
      type: object
      required:
        - gameIndex
      properties:
        gameIndex:
          type: integer
          minimum: 1
          description: 1-based index of the game inside the match (bo3 → 1..3).
        fearless:
          type: boolean
          description: |
            Override the default fearless flag from the game's DraftFlow.
            When true, a hero picked in any prior game of the match cannot
            be picked again.
        pickTimerSeconds:
          type: integer
          minimum: 5
          maximum: 300
          description: Per-step pick timer (Lot 3 wires the server-side enforcement).
    SetMatchDraftSidesRequest:
      type: object
      required:
        - team1Side
        - team2Side
      properties:
        team1Side:
          type: string
          description: LoL = blue|red ; Dota = radiant|dire.
        team2Side:
          type: string
          description: Must differ from team1Side.
    CommitMatchDraftStepRequest:
      type: object
      required:
        - stepNumber
        - heroId
      properties:
        stepNumber:
          type: integer
          minimum: 1
          description: Must equal current_step + 1.
        heroId:
          $ref: "#/components/schemas/Uuid"
    DraftFlowStep:
      type: object
      required:
        - step_number
        - phase
        - action
        - side
      properties:
        step_number:
          type: integer
          minimum: 1
        phase:
          type: string
          enum:
            - ban_1
            - pick_1
            - ban_2
            - pick_2
            - ban_3
            - pick_3
        action:
          type: string
          enum:
            - ban
            - pick
        side:
          type: string
          enum:
            - team1
            - team2
    DraftFlow:
      type: object
      required:
        - steps
        - fearless
      properties:
        steps:
          type: array
          items:
            $ref: "#/components/schemas/DraftFlowStep"
        fearless:
          type: boolean
    MatchDraft:
      type: object
      description: Row of public.match_drafts (snake_case mirrors the DB).
      required:
        - id
        - match_id
        - game_index
        - game
        - current_step
        - status
        - fearless
        - pick_timer_seconds
        - tenant_id
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        match_id:
          $ref: "#/components/schemas/Uuid"
        game_index:
          type: integer
          minimum: 1
        game:
          type: string
          enum:
            - lol
            - dota2
        team1_side:
          type: string
          nullable: true
          enum:
            - blue
            - red
            - radiant
            - dire
            - null
        team2_side:
          type: string
          nullable: true
          enum:
            - blue
            - red
            - radiant
            - dire
            - null
        current_step:
          type: integer
          minimum: 0
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - cancelled
        fearless:
          type: boolean
        pick_timer_seconds:
          type: integer
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        tenant_id:
          $ref: "#/components/schemas/Uuid"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MatchDraftStep:
      type: object
      description: Row of public.match_draft_steps.
      required:
        - id
        - draft_id
        - step_number
        - phase
        - action
        - side
        - auto_picked
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        draft_id:
          $ref: "#/components/schemas/Uuid"
        step_number:
          type: integer
        phase:
          type: string
        action:
          type: string
          enum:
            - ban
            - pick
        side:
          type: string
          enum:
            - team1
            - team2
        hero_id:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        committed_at:
          type: string
          format: date-time
          nullable: true
        deadline_at:
          type: string
          format: date-time
          nullable: true
        auto_picked:
          type: boolean
        created_at:
          type: string
          format: date-time
    DraftState:
      type: object
      description: Assembled draft state returned by every Lot 2 endpoint.
      required:
        - draft
        - flow
        - steps
        - nextStepIndex
        - bannedHeroes
        - team1Picks
        - team2Picks
      properties:
        draft:
          $ref: "#/components/schemas/MatchDraft"
        flow:
          $ref: "#/components/schemas/DraftFlow"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/MatchDraftStep"
        nextStepIndex:
          type: integer
          description: Zero-based index in `flow.steps` of the next step to play, or -1 once completed.
        bannedHeroes:
          type: array
          items:
            $ref: "#/components/schemas/GameHero"
        team1Picks:
          type: array
          items:
            $ref: "#/components/schemas/GameHero"
        team2Picks:
          type: array
          items:
            $ref: "#/components/schemas/GameHero"
    MatchDraftStateResponse:
      type: object
      required:
        - draft
      properties:
        draft:
          oneOf:
            - $ref: "#/components/schemas/DraftState"
            - type: "null"
        teams:
          type: object
          description: |
            Resolved team names for the spectator UI auto-title (Lot 5
            polish). Public endpoint only — admin GET omits this field.
          properties:
            team1Name:
              type: string
              nullable: true
            team2Name:
              type: string
              nullable: true
    DeleteMatchDraftResponse:
      type: object
      required:
        - success
        - deletedDraftId
        - deletedSteps
      properties:
        success:
          type: boolean
          enum:
            - true
        deletedDraftId:
          $ref: "#/components/schemas/Uuid"
        deletedSteps:
          type: integer
          minimum: 0
          description: Count of match_draft_steps rows removed.
    BotInitMatchDraftResponse:
      type: object
      description: |
        Response shape of `POST /api/bot/v1/matches/:matchId/drafts`.
        The bot uses `captains[].discordUserId` to DM each captain with
        the captain UI link. `null` values mean the captain has not
        linked Discord yet — the bot falls back to a channel post.
      required:
        - success
        - draft
        - captains
      properties:
        success:
          type: boolean
          enum:
            - true
        draft:
          $ref: "#/components/schemas/DraftState"
        captains:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: object
            required:
              - teamSlot
            properties:
              teamSlot:
                type: integer
                enum:
                  - 1
                  - 2
              teamId:
                $ref: "#/components/schemas/Uuid"
              teamName:
                type: string
                nullable: true
              authUserId:
                $ref: "#/components/schemas/Uuid"
              discordUserId:
                type: string
                nullable: true
                description: Snowflake or null when the captain hasn't linked Discord.
    DraftAutoPickResponse:
      type: object
      description: |
        Return shape of `POST /api/admin/matches/.../auto-pick`. When the
        current step's deadline is still in the future (or the step is
        already committed, or the draft is not in_progress), the engine
        is a no-op and the response carries `autoPicked: false` only.
      required:
        - autoPicked
      properties:
        autoPicked:
          type: boolean
        stepNumber:
          type: integer
          minimum: 1
          description: Present when autoPicked = true.
        heroId:
          $ref: "#/components/schemas/Uuid"
        draft:
          $ref: "#/components/schemas/DraftState"
    CronDraftAutoPickResult:
      type: object
      description: |
        Tick summary returned by `/api/cron/draft-auto-pick`. `success` is
        false only if at least one individual draft errored; per-draft
        errors are caught so one bad row never blocks the rest.
      required:
        - success
        - scanned
        - autoPicked
        - errors
      properties:
        success:
          type: boolean
        scanned:
          type: integer
          minimum: 0
          description: |
            Number of distinct drafts whose current step deadline_at was
            in the past at the start of the tick.
        autoPicked:
          type: integer
          minimum: 0
        errors:
          type: integer
          minimum: 0
    PublicAnnouncement:
      type: object
      required:
        - id
        - title
        - message
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        title:
          type: string
        message:
          type: string
        ctaLabel:
          type: string
          nullable: true
        ctaUrl:
          type: string
          nullable: true
        priority:
          type: integer
        startsAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        endsAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/Timestamp"
        updatedAt:
          $ref: "#/components/schemas/Timestamp"
    ContactFormSubmission:
      type: object
      required:
        - name
        - email
        - subject
        - message
      properties:
        name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        subject:
          type: string
          maxLength: 200
        message:
          type: string
          minLength: 10
          maxLength: 5000
    PublicEventRun:
      type: object
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        slug:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        scheduledAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        status:
          type: string
          enum:
            - draft
            - scheduled
            - live
            - done
        startedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        endedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
    PublicEventSegment:
      type: object
      required:
        - id
        - ord
        - type
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        ord:
          type: integer
        type:
          type: string
          enum:
            - match
            - intermission
            - intro
            - outro
            - interview
            - segment
        title:
          type: string
          nullable: true
        durationMin:
          type: integer
          nullable: true
        matchId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        status:
          type: string
          enum:
            - upcoming
            - live
            - done
            - skipped
        startedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        endedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
    PublicTeamSummary:
      type: object
      required:
        - id
        - name
        - member_count
        - is_joinable
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
        short_name:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        member_count:
          type: integer
        is_joinable:
          type: boolean
    PublicTournamentSummary:
      type: object
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
        slug:
          type: string
          nullable: true
        short_name:
          type: string
          nullable: true
        game:
          type: string
          nullable: true
        status:
          type: string
        format:
          type: string
          nullable: true
        start_date:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        end_date:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        max_teams:
          type: integer
          nullable: true
        logo_url:
          type: string
          nullable: true
        banner_url:
          type: string
          nullable: true
        team_count:
          type: integer
        created_at:
          $ref: "#/components/schemas/Timestamp"
    PublicScrim:
      type: object
      required:
        - id
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        name:
          type: string
          nullable: true
        slug:
          type: string
          nullable: true
        game:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - scheduled
            - running
            - completed
            - cancelled
        scheduled_date:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        timezone:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        banner_url:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        stream_url:
          type: string
          nullable: true
        team1_id:
          $ref: "#/components/schemas/Uuid"
        team2_id:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        team1:
          type: object
          additionalProperties: true
        team2:
          type: object
          additionalProperties: true
          nullable: true
    PublicScrimRequestInput:
      type: object
      required:
        - requesterName
        - message
      properties:
        targetTeamId:
          type: string
          format: uuid
        targetTeamSlug:
          type: string
        fromTeamName:
          type: string
          maxLength: 80
        requesterName:
          type: string
          maxLength: 80
        requesterEmail:
          type: string
          format: email
          maxLength: 200
        requesterDiscord:
          type: string
          maxLength: 100
        preferredDate:
          type: string
          format: date-time
        format:
          type: string
          maxLength: 50
        message:
          type: string
          maxLength: 1000
        honeypot:
          type: string
          description: Doit etre vide (anti-bot).
        captchaToken:
          type: string
        captchaAnswer:
          type: string
    PublicNewsItem:
      type: object
      required:
        - id
        - title
        - slug
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        title:
          type: string
        slug:
          type: string
        tag:
          type: string
          nullable: true
        excerpt:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        createdAt:
          $ref: "#/components/schemas/Timestamp"
        publishedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        updatedAt:
          $ref: "#/components/schemas/Timestamp"
        commentsCount:
          type: integer
    NewsComment:
      type: object
      required:
        - id
        - news_id
        - content
        - created_at
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        news_id:
          $ref: "#/components/schemas/Uuid"
        author_name:
          type: string
          nullable: true
        content:
          type: string
        created_at:
          $ref: "#/components/schemas/Timestamp"
    NewsCommentInput:
      type: object
      required:
        - newsId
        - content
        - captchaToken
        - captchaAnswer
      properties:
        newsId:
          type: string
          format: uuid
        content:
          type: string
          minLength: 3
          maxLength: 2000
        authorName:
          type: string
          maxLength: 50
          nullable: true
        honeypot:
          type: string
          description: Doit etre vide (anti-bot).
        captchaToken:
          type: string
        captchaAnswer:
          type: string
    OnboardTenantRequest:
      type: object
      required:
        - requested_slug
        - requested_name
        - requested_email
        - turnstile_token
      properties:
        requested_slug:
          type: string
          pattern: ^[a-z0-9-]+$
          minLength: 3
          maxLength: 60
        requested_name:
          type: string
          maxLength: 120
        requested_email:
          type: string
          format: email
          maxLength: 254
        description:
          type: string
          maxLength: 2000
        turnstile_token:
          type: string
    OnboardRequestStatus:
      type: object
      required:
        - id
        - status
      properties:
        id:
          $ref: "#/components/schemas/Uuid"
        status:
          type: string
          enum:
            - pending_email_verification
            - pending_bot_invite
            - claimed
            - failed
            - cancelled
        requested_slug:
          type: string
        requested_name:
          type: string
        botInviteUrl:
          type: string
          nullable: true
        tenantId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        secretsRevealToken:
          type: string
          nullable: true
          description: Token a passer a /api/onboard/secrets/{token} pour reveal one-shot.
        createdAt:
          $ref: "#/components/schemas/Timestamp"
        claimedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
    CheckinTokenStatus:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
        error:
          type: string
        match:
          type: object
          additionalProperties: true
        team:
          type: object
          additionalProperties: true
        alreadyCheckedIn:
          type: boolean
        checkedInAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        opensAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        closesAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        isOpen:
          type: boolean
        isPassed:
          type: boolean
    SupportTicketInput:
      type: object
      required:
        - category
        - severity
        - message
      properties:
        tournamentId:
          type: string
          format: uuid
        category:
          type: string
          enum:
            - dispute
            - behavior
            - technical
            - other
        severity:
          type: string
          enum:
            - low
            - medium
            - high
        subject:
          type: string
          maxLength: 200
        message:
          type: string
          minLength: 10
          maxLength: 5000
        isAnonymous:
          type: boolean
        name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        discordUserId:
          $ref: "#/components/schemas/DiscordId"
        discordUsername:
          type: string
          maxLength: 100
    MapStats:
      type: object
      properties:
        tournamentId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        maps:
          type: array
          items:
            type: object
            properties:
              mapName:
                type: string
              gamesPlayed:
                type: integer
              wins:
                type: integer
              losses:
                type: integer
              winrate:
                type: number
              roundsFor:
                type: integer
              roundsAgainst:
                type: integer
              overtimeCount:
                type: integer
              tiebreakerCount:
                type: integer
        vetoStats:
          type: array
          items:
            type: object
            additionalProperties: true
        teamWinrates:
          type: array
          items:
            type: object
            additionalProperties: true
    MvpLeaderboardEntry:
      type: object
      required:
        - mvpCount
      properties:
        memberId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        battleTag:
          type: string
          nullable: true
        teamId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        teamName:
          type: string
          nullable: true
        mvpCount:
          type: integer
        matchIds:
          type: array
          items:
            $ref: "#/components/schemas/Uuid"
    MvpPerMatchEntry:
      type: object
      properties:
        matchId:
          $ref: "#/components/schemas/Uuid"
        roundName:
          type: string
          nullable: true
        completedAt:
          oneOf:
            - $ref: "#/components/schemas/Timestamp"
            - type: "null"
        memberId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        battleTag:
          type: string
          nullable: true
        teamId:
          oneOf:
            - $ref: "#/components/schemas/Uuid"
            - type: "null"
        teamName:
          type: string
          nullable: true
    CasterMe:
      type: object
      required:
        - caster
        - upcomingAssignments
      properties:
        caster:
          type: object
          required:
            - id
            - name
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            name:
              type: string
            title:
              type: string
              nullable: true
            imageUrl:
              type: string
              nullable: true
            twitchUrl:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
        upcomingAssignments:
          type: array
          items:
            type: object
            required:
              - kind
              - assignmentId
            properties:
              kind:
                type: string
                enum:
                  - match
                  - scrim
              assignmentId:
                $ref: "#/components/schemas/Uuid"
              role:
                type: string
                nullable: true
              startsAt:
                $ref: "#/components/schemas/Timestamp"
              match:
                type: object
                additionalProperties: true
                nullable: true
              scrim:
                type: object
                additionalProperties: true
                nullable: true
    CasterBriefing:
      type: object
      required:
        - match
        - teams
        - headToHead
        - recentNews
      properties:
        match:
          type: object
          required:
            - id
            - status
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            scheduledAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            status:
              type: string
            matchFormat:
              type: string
              nullable: true
            roundName:
              type: string
              nullable: true
            tournament:
              type: object
              nullable: true
              properties:
                id:
                  $ref: "#/components/schemas/Uuid"
                name:
                  type: string
                slug:
                  type: string
                  nullable: true
        teams:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: "#/components/schemas/Uuid"
              name:
                type: string
              shortName:
                type: string
                nullable: true
              logoUrl:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              members:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      $ref: "#/components/schemas/Uuid"
                    battle_tag:
                      type: string
                      nullable: true
                    role:
                      type: string
                    is_substitute:
                      type: boolean
                    is_captain:
                      type: boolean
                    is_manager:
                      type: boolean
        headToHead:
          type: object
          required:
            - totalMeetings
            - aWins
            - bWins
            - draws
          properties:
            totalMeetings:
              type: integer
            aWins:
              type: integer
            bWins:
              type: integer
            draws:
              type: integer
            lastPlayedAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            lastMatchId:
              oneOf:
                - $ref: "#/components/schemas/Uuid"
                - type: "null"
        recentNews:
          type: array
          items:
            type: object
            required:
              - id
              - title
              - slug
            properties:
              id:
                $ref: "#/components/schemas/Uuid"
              title:
                type: string
              slug:
                type: string
              tag:
                type: string
                nullable: true
              publishedAt:
                oneOf:
                  - $ref: "#/components/schemas/Timestamp"
                  - type: "null"
              excerpt:
                type: string
                nullable: true
    CasterCueAck:
      type: object
      required:
        - ack
        - alreadyAcked
      properties:
        ack:
          type: object
          required:
            - cue_id
            - cast_member_id
            - acked_at
          properties:
            cue_id:
              $ref: "#/components/schemas/Uuid"
            cast_member_id:
              $ref: "#/components/schemas/Uuid"
            acked_at:
              $ref: "#/components/schemas/Timestamp"
        alreadyAcked:
          type: boolean
    PlayerNextMatch:
      type: object
      required:
        - match
        - team
        - opponent
        - tournament
        - checkin
      description: |
        Si le joueur n'a pas d'equipe ou pas de match a venir, tous les champs
        retournent `null`. Sinon, payload complet ci-dessous.
      properties:
        match:
          type: object
          nullable: true
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            scheduledAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            status:
              type: string
            format:
              type: string
              nullable: true
            roundName:
              type: string
              nullable: true
            streamUrl:
              type: string
              nullable: true
            bestOf:
              type: integer
              nullable: true
        team:
          type: object
          nullable: true
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            name:
              type: string
            slot:
              type: integer
              enum:
                - 1
                - 2
        opponent:
          type: object
          nullable: true
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            name:
              type: string
        tournament:
          type: object
          nullable: true
          properties:
            id:
              $ref: "#/components/schemas/Uuid"
            name:
              type: string
            slug:
              type: string
              nullable: true
        checkin:
          type: object
          nullable: true
          properties:
            token:
              type: string
              nullable: true
            alreadyCheckedIn:
              type: boolean
            checkedInAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            opensAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            closesAt:
              oneOf:
                - $ref: "#/components/schemas/Timestamp"
                - type: "null"
            isOpen:
              type: boolean
            isPassed:
              type: boolean
  requestBodies: {}
security:
  - BotApiKey: []
    BotTenantId: []
paths:
  /api/bot/v1/matches/{matchId}:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags:
        - bot/matches
      summary: Lecture des metadonnees d'un match (teams, status, scheduled_at).
      operationId: botGetMatchById
      responses:
        "200":
          description: Match trouve.
          content:
            application/json:
              schema:
                type: object
                required:
                  - match
                properties:
                  match:
                    type: object
                    properties:
                      id:
                        $ref: "#/components/schemas/Uuid"
                      status:
                        type: string
                      is_bye:
                        type: boolean
                      scheduled_at:
                        allOf:
                          - $ref: "#/components/schemas/Timestamp"
                        nullable: true
                      match_format:
                        type: string
                        nullable: true
                      tournament_id:
                        allOf:
                          - $ref: "#/components/schemas/Uuid"
                        nullable: true
                      scrim_id:
                        allOf:
                          - $ref: "#/components/schemas/Uuid"
                        nullable: true
                      stage_id:
                        allOf:
                          - $ref: "#/components/schemas/Uuid"
                        nullable: true
                      team1:
                        type: object
                        properties:
                          id:
                            $ref: "#/components/schemas/Uuid"
                          name:
                            type: string
                          short_name:
                            type: string
                            nullable: true
                      team2:
                        type: object
                        properties:
                          id:
                            $ref: "#/components/schemas/Uuid"
                          name:
                            type: string
                          short_name:
                            type: string
                            nullable: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
    patch:
      tags:
        - bot/matches
      summary: Met a jour les metadonnees d'un match (planning, lobby, stream, notes).
      operationId: botUpdateMatchMeta
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - actorDiscordUserId
              properties:
                actorDiscordUserId:
                  $ref: "#/components/schemas/DiscordId"
                scheduledAt:
                  oneOf:
                    - $ref: "#/components/schemas/Timestamp"
                    - type: "null"
                lobbyCode:
                  type: string
                  nullable: true
                  maxLength: 200
                streamUrl:
                  type: string
                  nullable: true
                notes:
                  type: string
                  nullable: true
                  maxLength: 2000
      responses:
        "200":
          description: Mise a jour effectuee.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  match:
                    type: object
                    properties:
                      id:
                        $ref: "#/components/schemas/Uuid"
                      status:
                        type: string
                      scheduled_at:
                        allOf:
                          - $ref: "#/components/schemas/Timestamp"
                        nullable: true
                      lobby_code:
                        type: string
                        nullable: true
                      stream_url:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      updated_at:
                        $ref: "#/components/schemas/Timestamp"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/bot/v1/matches/{matchId}/cast:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags:
        - bot/matches
      summary: Liste les cast assignments d'un match.
      operationId: botListMatchCast
      responses:
        "200":
          description: Liste des assignments.
          content:
            application/json:
              schema:
                type: object
                required:
                  - assignments
                properties:
                  assignments:
                    type: array
                    items:
                      $ref: "#/components/schemas/CastAssignment"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - bot/matches
      summary: Assigne un caster a un match (staff admin/owner).
      operationId: botCreateMatchCastAssignment
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - actorDiscordUserId
                - castMemberId
              properties:
                actorDiscordUserId:
                  $ref: "#/components/schemas/DiscordId"
                castMemberId:
                  $ref: "#/components/schemas/Uuid"
                briefingAt:
                  $ref: "#/components/schemas/Timestamp"
      responses:
        "201":
          description: Assignment cree.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignment:
                    $ref: "#/components/schemas/CastAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - bot/matches
      summary: Retire un cast assignment (staff admin/owner).
      operationId: botDeleteMatchCastAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - actorDiscordUserId
              properties:
                actorDiscordUserId:
                  $ref: "#/components/schemas/DiscordId"
                assignmentId:
                  $ref: "#/components/schemas/Uuid"
                castMemberId:
                  $ref: "#/components/schemas/Uuid"
      responses:
        "200":
          description: Assignment retire.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ok"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/bot/v1/matches/{matchId}/checkin:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags:
        - bot/matches
      summary: Valide le check-in d'un capitaine via le bouton DM Discord.
      operationId: botMatchCheckin
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - discordUserId
              properties:
                discordUserId:
                  $ref: "#/components/schemas/DiscordId"
      responses:
        "200":
          description: Check-in effectue (ou deja effectue).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  matchId:
                    $ref: "#/components/schemas/Uuid"
                  alreadyCheckedIn:
                    type: boolean
                  side:
                    type: integer
                    enum:
                      - 1
                      - 2
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/bot/v1/matches/{matchId}/drafts:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags:
        - bot/matches
      summary: Initialise un draft MOBA depuis le bot Discord (Lot 6).
      operationId: botInitMatchDraft
      description: |
        Wrap autour de l'engine `initDraft` (Lot 2). Auth bot-only
        (x-api-key + x-tenant-id). En plus du `DraftState` assemblé,
        retourne la liste des deux capitaines avec leur Discord ID
        résolu via `user_discord_links` pour que le bot puisse les DM
        directement. Les capitaines non liés à Discord renvoient
        `discordUserId: null` (le bot tombe sur un message canal).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitMatchDraftRequest"
      responses:
        "201":
          description: Draft créé + résolution des capitaines.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotInitMatchDraftResponse"
        "400":
          description: |
            Invalid input — bad gameIndex, missing tournament game,
            game has no draft phase, pickTimerSeconds out of range.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftEngineError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Match or tournament not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftEngineError"
        "409":
          description: Draft already exists for (matchId, gameIndex).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftEngineError"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/bot/v1/matches/{matchId}/discord:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    patch:
      tags:
        - bot/matches
      summary: Writeback des IDs Discord lies a un match (thread, scheduled event, dispute thread).
      operationId: botUpdateMatchDiscordIds
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                discordThreadId:
                  oneOf:
                    - $ref: "#/components/schemas/DiscordId"
                    - type: "null"
                discordScheduledEventId:
                  oneOf:
                    - $ref: "#/components/schemas/DiscordId"
                    - type: "null"
                discordDisputeThreadId:
                  oneOf:
                    - $ref: "#/components/schemas/DiscordId"
                    - type: "null"
      responses:
        "200":
          description: IDs Discord persistes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/bot/v1/matches/{matchId}/dispute:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags:
        - bot/matches
      summary: Vue capitaine d'une dispute en cours sur un de ses matches.
      operationId: botGetMatchDispute
      parameters:
        - name: actorDiscordUserId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/DiscordId"
      responses:
        "200":
          description: Etat de la dispute filtre pour le capitaine.
          content:
            application/json:
              schema:
                type: object
                required:
                  - matchId
                  - status
                  - reports
                properties:
                  matchId:
                    $ref: "#/components/schemas/Uuid"
                  status:
                    type: string
                  openedAt:
                    allOf:
                      - $ref: "#/components/schemas/Timestamp"
                    nullable: true
                  reports:
                    type: array
                    items:
                      type: object
                      properties:
                        teamId:
                          $ref: "#/components/schemas/Uuid"
                        teamName:
                          type: string
                          nullable: true
                        submittedBy:
                          type: string
                          nullable: true
                        scoreA:
                          type: integer
                        scoreB:
                          type: integer
                        submittedAt:
                          allOf:
                            - $ref: "#/components/schemas/Timestamp"
                          nullable: true
                  staffNote:
                    type: string
                    nullable: true
                  resolution:
                    type: object
                    nullable: true
                    properties:
                      resolvedAt:
                        $ref: "#/components/schemas/Timestamp"
                      decidedScoreA:
                        type: integer
                        nullable: true
                      decidedScoreB:
                        type: integer
                        nullable: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/bot/v1/matches/{matchId}/forfeit:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags:
        - bot/matches
      summary: Marque une equipe en forfait sur un match (staff admin/owner).
      operationId: botForfeitMatch
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - actorDiscordUserId
                - forfeitTeamId
              properties:
                actorDiscordUserId:
                  $ref: "#/components/schemas/DiscordId"
                forfeitTeamId:
                  $ref: "#/components/schemas/Uuid"
      responses:
        "200":
          description: Forfait applique.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  matchId:
                    $ref: "#/components/schemas/Uuid"
                  forfeitTeamId:
                    $ref: "#/components/schemas/Uuid"
                  winnerTeamId:
                    $ref: "#/components/schemas/Uuid"
                  team1_score:
                    type: integer
                    nullable: true
                  team2_score:
                    type: integer
                    nullable: true
                  status:
                    type: string
                    nullable: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/bot/v1/matches/{matchId}/report:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags:
        - bot/matches
      summary: Capitaine soumet le score final d'un match (resoud dispute si accord).
      operationId: botReportMatchScore
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - discordUserId
                - team1Score
                - team2Score
              properties:
                discordUserId:
                  $ref: "#/components/schemas/DiscordId"
                team1Score:
                  type: integer
                  minimum: 0
                  maximum: 99
                team2Score:
                  type: integer
[...]
